section {
    margin: 0 auto;
    width: 75%;
  }
  
  section:first-child {
    text-align: center;
  }
  
  img {
    border-radius: 10px;
    margin: 0 auto;
    display: block;
  }
  
  button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #c56d88;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(49, 11, 11);
  }
  #about,#sosmed,#input{
    display: none;
  }
  #output {
    display: block;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  input[type="text"] {
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: fit-content;
  }
  .output {
    border: 1px solid black;
    height: 200px;
  }